@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #D96F32;
    --secondary-color: #C75D2C;
    --tertiary-color: #F8B259;
    --background-color: #F3E9DC
}

body {
    font-family: "Playfair Display", serif;
    margin: 0;
    background-color: var(--background-color);
    font-weight: bold;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    background-color: var(--background-color);
    margin: 0;
    padding: 0.5vw;
}

header h1 {
    margin: 0;
    color: var(--primary-color);
}

hr {
    margin: 0;
    color: var(--secondary-color);
    padding: 0;
    width: 99.9%;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.nav-item, .nav-item:link, .nav-item:visited {
    padding: 1em;
    margin-right: 1em;
    margin-left: 1em;
    text-decoration: none;
    color: var(--background-color);
}

.nav-item:hover {
    background-color: var(--primary-color);
    filter: brightness(120%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

h1 {
    color: var(--secondary-color);
    text-align: center;
}

.annotated-circle-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    font-size: 3vw;
    margin: 0% 5% 0% 5%;
    color: var(--secondary-color);
    text-align: center;
}

.annotated-circle-img img {
    width: 15vw;
    border-radius: 50%;
}

.container-center {
    display: flex;
    justify-content: center;
}

.container-center-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner {
    width: 100%;
    margin: 0;
}

footer {
    background-color: var(--primary-color);
    justify-content: center;
    display: flex;
    color: var(--background-color);
}

footer p {
    margin: 0.5%;
}

.trivia {
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.trivia ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

.trivia li {
    text-align: center;
    margin: 1em;
}

.gallery-media {
    width: 300px;
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gallery-media img, .gallery-media video {
    object-fit: contain;
    width: 100%;
    box-shadow: 3px 3px 10px gray;
    margin: 0;
    padding: 0;
}

.gallery-media:hover {
    transform: scale(1.1);
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* input, select, textarea { */
/*     margin-bottom: 1em; */
/* } */

input, textarea, select {
    border: 1px solid var(--secondary-color);
    border-radius: 0;
    background-color: var(--background-color);
    padding: 0.5em;
}

label {
    color: var(--secondary-color);
    margin-bottom: 0.1em;
    margin-top: 1em;
}

input[type="submit"] {
    margin-top: 2em;
}


input[type="submit"]:hover {
    background-color: var(--primary-color);
}

.error {
    color: red;
    font-size: 0.7em;
}
